.features {
  /* responsive */

  padding: 3.2rem 6.4rem;
}

.features__title {
  color: var(--white);
  font-weight: 600;
  text-align: center;

  /* responsive */

  margin-top: 0;
  margin-bottom: 4.8rem;

  font-size: 3.2rem;
  line-height: 3.2rem;
}


@media only screen and (max-width: 900px) {
  .auth0-features__grid {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .auth0-feature {
    padding: 3.2rem;
    border-radius: 0.8rem;
  }

  .auth0-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .auth0-feature__icon {
    height: 3.6rem;

    margin-right: 1.6rem;
  }

  .auth0-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .auth0-features {
    padding: 1.6rem;
  }

  .auth0-features__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .auth0-features__grid {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  .auth0-feature {
    padding: 3.2rem;
    border-radius: 0.8rem;
  }

  .auth0-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .auth0-feature__icon {
    height: 3.6rem;

    margin-right: 1.6rem;
  }

  .auth0-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
